<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Image</key>
	<array>
		<string>Boston_Harbor_Islands.JPG</string>
		<string>Cape_Cod_Beach.JPG</string>
		<string>Nashville.jpg</string>
		<string>Grand_Canyon.jpg</string>
		<string>NYC_Met.JPG</string>
		<string>Newport.JPG</string>
		<string>Amish_Country.JPG</string>
	</array>
	<key>Place</key>
	<array>
		<string>Boston Harbor Islands</string>
		<string>Cape Cod Beach</string>
		<string>Nashville</string>
		<string>Grand Canyon</string>
		<string>NYC Met</string>
		<string>Newport</string>
		<string>Amish Country</string>
	</array>
</dict>
</plist>
